header {
    background-color: $vert;
    color: $blanc;

    .header_navigation {

        h3 {
            cursor: pointer;
        }
        
    }
}

@media screen and (max-width: 864px) {
    header {
        .titre {
            
        }

        i#menu_hamburger-icon {
            
        }

        .header_navigation {
            background-color: $vert;
        }
    }
}