/*

    Author: Julien Savoie
    Couleurs

*/


body {
    background-color: $blancPrincipale;
    color: $noirPrincipale;
}

header {
    // background-color: $blancPrincipale;
}

a {
    color: $noirPrincipale;
}

.navigation_bars_bar {
    background-color: $noirPrincipale;
}

h2 {
    color: $noirPrincipale;
}