/*

    Author: Julien Savoie
    Accueil

*/

section.accueil {
    position: fixed;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 0;
    z-index: -100000;
    pointer-events: none;
    width: 100vw;
    background-image: url(../images/Tilt_Shift_Map.jpg);
    background-size: 100%;
    background-position: center;

    h2 {
        // padding-top: 80px;
        align-self: center;
    }
}


@media screen and (max-width: 800px) {
    section.accueil {
        padding: 0 20px;
        margin-top: -150px;
        background-repeat: no-repeat;
        background-size: auto;
        h2 {
            color: $noirPrincipale;
            font-size: 3em;
        }
    }
}