/*

    Author: Julien Savoie
    Contact

*/

.contact {
    margin-top: 40vh;
    margin-bottom: 40vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-content: center;

    div {
        align-self: center;
    }

    .contact_logos {
        z-index: 100000;
        span {
            font-size: 1.5em;
            padding: 0 20px;
        }
    }

    .clipboard {
        display: none;
    }
}