/*

    Author: Julien Savoie
    Projets

*/


.projets {
    max-width: 100%;
    display: flex;
    padding: 0 10vw;
    height: 100vh;
    max-height: 100vh;

    .projets_liste {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        
    
        
    }

    .projets_liste_projet {
        
        padding: 10px;
        border: #070707 solid 1px;     
        
        a:hover {
            text-decoration: underline;
        }

        details[open] summary ~ * {
            animation: open .5s ease-in-out;
          }
    }


    .projets_image {
        width: 50vw;
        align-self: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        img {
            width: 100%;
            height: 40%;
        }
        
    }
}

@keyframes open {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


@media screen and (max-width: 800px) {
    .projets {
        flex-direction: column;
        padding: 0 3vw;

        .projets_liste {
            width: 100%;

            .projets_liste_projet {
                max-height: 15vh;

                .projets_liste_projet_titre {

                    h3 {
                        font-size: 1.4em;
                    }
                }

            }

            .projets_liste_projet_info {

                h4 {
                    margin: 0.2em 0;
                }
            }
        }

        img {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {

    .projets {
        justify-content: center;
    }

    .projets_image {
        display: none;
        img {
            display: none;
        }
    }
}