header {
    font-family: $pop;
    background-color: $vert;
    color: $blanc;

    .conteneur_mobile {
        background-color: $vert;     
    }
}

@media screen and (max-width: $mobileLayout) {
    header {
        .header_navigation {
            background-color: $vert;
        }
    }
}